/* ----Header---- */
.header {
  width: 100%;
  padding: 3rem 0;
  background-color: #dde2e9;
}
h2 {
  width: 75%;
  margin: auto;
  color: #253544ce;
  font-size: 1.1rem;
  font-weight: bold;
}
h2 span {
  color: #b4b6b8;
}
