.gallery {
  margin: auto;
  margin-block-start: -1.3rem;
  width: 68%;
  column-gap: 0.7%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;

  .container {
    overflow: hidden;
    border-radius: 12px;
    height: 330px;
    position: relative;
    transition: 0.5s ease;
    animation: loading-skeleton 1s linear infinite alternate;

    &:nth-of-type(1) {
      grid-column: span 4;
    }

    &:nth-of-type(2) {
      grid-column: span 4;
      grid-row: span 2;
      height: 420px;
    }

    &:nth-of-type(3) {
      grid-column: span 4;
    }

    &:nth-of-type(4) {
      grid-column: span 4;
      grid-row: span 2;
    }

    &:nth-of-type(5) {
      grid-column: span 4;
      grid-row: span 2;
    }

    &:nth-of-type(6) {
      grid-column: span 4;
      grid-row: span 2;
      height: 420px;
    }

    &:nth-of-type(7) {
      grid-column: span 4;
      grid-row: span 2;
    }
    &:nth-of-type(8) {
      grid-column: span 4;
      grid-row: span 2;
    }
    .image-username {
      width: 60%;
      height: 18px;
      position: absolute;
      left: 22px;
      bottom: 48px;
      z-index: 10;
      transition: 0.5s ease;
      animation: loading-skeleton 1s linear infinite alternate;
      animation-delay: 0.5s;
    }
    .image-userlocation {
      width: 70%;
      height: 18px;
      position: absolute;
      left: 22px;
      bottom: 25px;
      z-index: 10;
      animation: loading-skeleton 1s linear infinite alternate;
      animation-delay: 0.5s;
    }
  }
}

@keyframes loading-skeleton {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@media only screen and (min-width: 800px) {
  .gallery {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.8fr 0.2fr 0.6fr 0.4fr 0.4fr;
  }
}
@media only screen and (max-width: 799px) {
  .gallery {
    width: 85%;
    .container {
      height: 350px;
    }
  }
}
